/*o	Background Color: #f7f381;
o	Padding: 8px 24px;
o	Width: 500px;
o	Text size: 30px;
o	Border: 1px solid #f7f381;
o	box-shadow: 0 0 10px 2px #333333;
*/
.my-list{

    background-color: #f7f381;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
}