p{
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    border: solid;
    background-color: orangered;
}
/*	Left – 20px
	Top – 30px
	Right – 40px
	Bottom – 50px
*/