
#wrapper{
    width: 700px;
    height: 730px;
    border:  1px solid #000000;
    padding: 10px 20px;
    background-color: #a6e1ec;
    margin: 0 auto;
}
img{
    width: 100px;
    margin-right: 10px;
    vertical-align: middle;
}
li{
    Width: 595px;
	Padding: 10px;
	margin-bottom: 5px;
	font-size: 14px;
	Border: 1px solid #000000;
}
